/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* common styles */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.Container{
    background-color: white;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/* header */
nav a{
    text-decoration: none;
    font-size: 1.3em;
    margin-right: 13px;
    color: white;
}
nav a:hover{
    color: thistle;
}
    
nav{
    background-color: #1e3799;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}
.robin{
    margin-left: 60px;
}



/* top players style */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562eff;
    font-size: 24px;
    margin-top: 3px;
}
.players{
     display: grid;
     /* grid-template-columns: 1fr 1fr 1fr; */
     grid-template-columns: repeat(3, 1fr);
     
     /* 2ta row er moddhe soman gap er jonno  */
     grid-row-gap: 30px;
     
}
.player{
    display: flex;
    /* profile and name k align kora */
    align-items: center;
    
}
.player img{
    width: 56px;
    height: 56px;
    
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}


/* top blog styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}

.blog img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9f9f9f;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562eff;
}



/* courses styles */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}

.course .course-banner img{
    width: 224px;
    height: 104;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}

.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.course-duration{
    background-color: rgba(255, 192, 203, 0.856);
    border-radius: 20px;
    padding: 5px;
}




/* ---------------
   Media Queries 
-----------------*/

/* Mobile devices */
@media only screen and (max-width:688px){
    .Container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blogs,{
        flex-direction: column;
    }
    
}



/* Tab devices */
@media only screen and (min-width:688px) and (max-width:992px){
    .Container{
        width: 100%;
    }
    .blogs, .players, .courses {
        grid-template-columns: repeat(2, 1fr);
    }
}



